

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link for logo -->

    <link rel="icon" type="images/png" href="{{url_for('static', filename='images/logo.png')}}">
    <title>Cataract Disease Detection</title>

    <!-- CSS-Link -->

    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

    <!--Front awesome icons link-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <!-- Menu -->
    <div class="menu target center">
        <div class="menu-line menu-line-1"></div>
        <div class="menu-line menu-line-2"></div>
      </div>    
    <!-- End of Menu -->

    <!-- Navbar -->
    <nav class="navbar target">
        <a href="#home" class="navbar-link"><span></span>Home</a>
        <a href="#team_members" class="navbar-link"><span></span>Team Members</a>
        <a href="#contact" class="navbar-link"><span></span>Contact</a>
      </nav>
    <!-- End of Navbar -->

    <!-- Section 1 -->
    <div class="wrapper">
        <section class="section-1 target center" id="home" style="background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('{{url_for('static', filename='images/section-1-bg-2.jpg')}}')">
            <div class="navbar-buttons">
                <button class="navbar-btn login-btn login"><span></span><a href="{{url_for('login')}}">Login</a></button>
                <button class="navbar-btn signup-btn signup"><span></span><a href="{{url_for('signup')}}">Signup</a></button>
            </div>
            <!-- <hr class="section-1-line"> -->

            <div class="section-1-main">
                <h1 class="section-heading section-1-heading">Cataract Disease Detection</h1>

                <div class="section-1-img">
                    <img src="{{url_for('static', filename='images/1.jpg')}}" alt="Image" class="img1 change">
                    <img src="{{url_for('static', filename='images/2.jpg')}}" alt="Image" class="img2">
                    <img src="{{url_for('static', filename='images/3.jpg')}}" alt="Image" class="img3">
                    <img src="{{url_for('static', filename='images/4.jpg')}}" alt="Image" class="img4">
                    <img src="{{url_for('static', filename='images/5.jpg')}}" alt="Image" class="img5">
                    <img src="{{url_for('static', filename='images/6.jpg')}}" alt="Image" class="img6">
                    <img src="{{url_for('static', filename='images/7.jpg')}}" alt="Image" class="img7">
                    <img src="{{url_for('static', filename='images/8.jpg')}}" alt="Image" class="img8">
                    <img src="{{url_for('static', filename='images/9.jpg')}}" alt="Image" class="img9">
                </div>
            </div>
        </section>
      </div>
      <!-- End of Section 1 -->


        <!-- Section 2 -->
        <div class="wrapper">
              <section class="section-2 target" id="team_members">
                <h1 class="section-2-heading">
                    Team Members
                </h1>
                <div class="team">
                    <a href="#" class="team-link" title="Team Member">
                    <img src="{{url_for('static', filename='images/photo-1.jpg')}}" class="member-img">
                    <h3 class="member-name">P Bhavith Sai</h3>
                    <p class="member-description"><b>Roll Number: </b> 118EC0032 <br><br><br> <b>Department: </b>Electronics and communication Engineering</p>
                    </a>
    
                    <a href="#" class="team-link" title="Team Member">
                    <img src="{{url_for('static', filename='images/photo-2.jpeg')}}" class="member-img photo-2">
                    <h3 class="member-name">Sai SriHarsha</h3>
                    <p class="member-description"><b>Roll Number: </b> 118EC0034 <br><br><br> <b>Department: </b>Electronics and communication Engineering</p>
                    </a>
                    <a href="#" class="team-link" title="Order Now">
                    <img src="{{url_for('static', filename='images/photo-3.jpeg')}}" class="member-img photo-3">
                    <h3 class="member-name">K Venkat Abhinav</h3>
                    <p class="member-description"><b>Roll Number: </b> 118CS0009 <br><br><br> <b>Department: </b>Computer Science and Engineering</p>
                    </a>
                    <a href="#" class="team-link" title="Order Now">
                    <img src="{{url_for('static', filename='images/photo-4.jpg')}}" class="member-img photo-4">
                    <h3 class="member-name">B Tarun</h3>
                    <p class="member-description"><b>Roll Number: </b> 118ME0030 <br><br><br> <b>Department: </b>Mechanical Engineering</p>
                    </a>
                    <a href="#" class="team-link" title="Order Now">
                    <img src="{{url_for('static', filename='images/photo-5.jpg')}}" class="member-img ">
                    <h3 class="member-name">Avula Ankith Reddy</h3>
                    <p class="member-description"><b>Roll Number: </b> 118CS0034 <br><br><br> <b>Department: </b>Computer Science and Engineering</p>
                    </a>
                    <a href="#" class="team-link" title="Order Now">
                    <img src="{{url_for('static', filename='images/photo-6.jpg')}}" class="member-img photo-6">
                    <h3 class="member-name">Vishnu Vardhan</h3>
                    <p class="member-description"><b>Roll Number: </b> 118ME0028 <br><br><br> <b>Department: </b>Mechanical Engineering</p>
                    </a>
                </div>
            </section>
        </div>
            <!-- End of Section 2 -->

        <!-- Section 3 -->

        <div class="wrapper">
    <section class="section-4 target" id="contact">
        <h1 class="section-heading">Contact</h1>
        <div class="section-heading-line"></div>
        <div class="contact-wrapper">
          <div class="contact-details">
            <div class="phone">
              <i class="fas fa-mobile-alt"></i>
              <h3>Phone</h3>
              <p>+91 8518 2244455</p>
              <p>+91 8518 2244456</p>
            </div>
            <div class="address">
              <i class="fas fa-map-marker-alt"></i>
              <h3>Address</h3>
              <p>IIITDM Kurnool</p>
              <p>Kurnool</p>
            </div>
            <div class="email">
              <i class="far fa-envelope"></i>
              <h3>Email</h3>
              <p>pdp@iiitk.ac.in</p>
              <p>phenix@iiitk.ac.in</p>
            </div>
          </div>
          <h1>Get In Touch</h1>
          <form class="contact-form" method="post" action="/">
            <input type="text" placeholder="Your Name" name="name">
            <input type="email" placeholder="Your Email" name="email">
            <textarea placeholder="Your Message" name="message"></textarea>
            <input type="submit" value="Send Message">
          </form>
        </div>
      </section>
    </div>
      <!-- End of Section 3 -->


    <!-- Footer -->
    <div class="wrapper">
    <footer class="footer target">
        <div class="footer-nav">
          <a href="#home">Home</a>
          <a href="#team-members">Team Members</a>
          <a href="#contact">Contact</a>
        </div>
        <p class="copyright">Copyright &copy; CodeAndCreate All Rights Reserved</p>
      </footer>
    </div>
      <!-- End of Footer -->
      
    <script type="text/javascript" src="{{url_for('static', filename='script/script.js')}}"></script>
</body>
</html>